
  .reminder {
    min-width: 100%;
    min-height: 100%;
    background: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  
  }

  .reminder_card > IconButton {
     color: crimson;
     align-content: flex-end;
  }
  
  .reminder_body {
    width: 100%;
  }
  
  .reminder_card {
    display: flex;
    flex-direction: column;
    display: inline-block;
    background: rgb(243, 218, 218);
    border-radius: 8px;
    margin: 2rem;
    padding: 0.5rem;
    max-width:400px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

  }
  
  .reminder_card > h2 {
    margin-bottom: 0.3rem;
    color: #1877f2;
  }
  
  .reminder_card > p {
    color: grey;
    margin-bottom: 0.5rem;
  }
  
  