.body{
  margin: 0;
  width: 100%;
}
.root {
  display: 'flex';
  margin: 2% 2% 4% 2%;
}
.details {
  display: 'flex';
  flex-direction: column;
}
.content {
  flex: '1 0 auto';
}
.cover {
  width: 100px;
}
.controls {
  display: 'flex';
  align-items: center;
  padding: 1rem;
}
.playIcon {
  height: 38;
  width: 38;
}
.margin { 
padding-top: 1%;
padding-left: 1%;
padding-right: 1%;
padding-bottom: 0px;
}

.root > .details>.content>.summary_btn{
  margin-right: 5%;
  margin-left: 75%;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 20%;
  background-color: white;
  color: black;
  border: 2px solid #063742;
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 17px 50px 0 rgba(0,0,0,0.1);
}

.root >.details>.content>.summary_btn:hover{
background-color: #106f85; 
color: white;
}