.body{
    margin: 0;
    width: 100%;
}
.root {
    display: 'flex';
    margin: 2% 2% 5% 2%;
  }
  .details {
    display: 'flex';
    flex-direction: column;
  }
  .content {
    flex: '1 0 auto';
  }
  .cover {
    width: 100px;
  }
  .controls {
    display: 'flex';
    align-items: center;
    padding: 1rem;
  }
  .playIcon {
    height: 38;
    width: 38;
  }
  .margin { 
  padding: 1%;}