.sp_reminder_card {
  flex-direction: column;
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  margin: 2rem;
  margin-top: 1rem;
  padding: 0.5rem;
  /* padding-top: 0.5rem; */
  max-width: 350px;
  border-radius: 10px;
  background: #cdecf9;
  box-shadow: 8px 8px 16px #aec9d4;
}
.sp_reminder_card:hover {
  font-weight: bold;
  box-shadow: 8px 8px 16px #063742;
}

.folderName:hover {
  font-weight: bold;
  margin: 0px;
}

.SPiconBtn {
  padding: 0%;
}

.clrCardAction > .viewBtn {
  align-items: flex-end;
  color: #063742;
  padding-top: 0%;
}

.reminder_card > .viewBtn:hover {
  background-color: #cdecf9;
  color: #063742;
}

.fileButton {
  color: #063742;
  align-content: flex-end;
}
.clrDiv {
  font-weight: bold;
  color: #063742;
}


.sp_reminder_card > .content > .editingBox {
  border-radius: 10px;
  border-color: #063742;
  background: #d9ebf3;
  width: 100%;
}
.sp_reminder_card > .content {
  width: 90%;
  margin-right: 0px;
  padding-bottom: 0%;
  padding-top: 0%;
}

.editTextBox{
  width:100%;
  border-radius: 10px;
}