.heading {
    padding: 1%;
    display: flex;
    color: #063742;
    justify-content: space-between;
  }
  .heading > .return_to_spHealth {
    color: #063742;
    font-size: 18px;
  }
  .heading > .return_to_spHealth:hover {
    font-weight: bold;
  }
  .heading > .spHealth_reminder_buttons {
    display: flex;
    width: 30%;
    margin-right: 0;
    margin-left: auto;
    margin-top: 0px;
  }
  .heading > .spHealth_reminder_buttons > .viewFiles_Btn {
    display: inline-block;
  }
  .heading > .spHealth_reminder_buttons > .viewFiles_Btn > .viewFiles_addBtn {
    width: auto;
    height: 30px;
    text-justify: center;
    /* background-color: #063742; */
    color: #063742;
    /* margin-left: 1em; */
    /* padding: 10px; */
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  }
  .heading > .reminder_buttons > .viewFiles_Btn > .viewFiles_addBtn:hover {
    background-color: #063742;
    color: white;
  }
  .media_card {
      cursor: pointer;
      display: inline-block;
      font-family: "Times New Roman", Times, serif;
      font-size: 15px;
      width: 210px;
      max-height: auto;
      margin: 1.7rem;
      margin-top: 1rem;
      padding: 0.5rem;
      max-width: 350px;
      border-radius: 10px;
      box-shadow: 2px 8px 16px #47565c, -2px -8px 16px #feffff;
    }
  
  /* pdf files */
  
  .mainPdf > .pdfViewer {
      display: inline-block;
      color: #063742;
    }
    .react-pdf__Page__canvas {
      margin: 6px;
      width: 85% !important;
      height: 100% !important;
    }
    